<ion-view view-title="登录" hide-nav-bar="true" class="loginBg">

    <ion-content class="padding">

        <div class="row padding">
            <div class="col">
                <div style="text-align:center">
                    <img src="img/login_logo.png" width="300" height="200">
                </div>
                <div class="list list-inset">
                    <label class="item item-input"  style="background-color:#55A2F2"><input type="text" ng-model="user.username" placeholder="用户名"> </label>
                    <label class="item item-input" style="background-color:#55A2F2"><input type="password" ng-model="user.password" placeholder="密码"> </label>
                </div>
                <div>
                    <button class="button button-block button-balanced" ng-click="login(user);">登   录 </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
